body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.page-header h1 {
  margin-top:0;

}

#sbName{
  margin-right: 30px;
}

#sbName_text{
margin-top: 15px;
}

#warning{
  padding: 0px;
  word-spacing: 5px;
  color: red;
  margin-left: 15px;

}

.glyphicon{
  font-size: 50px;
}

.glyphicon.glyphicon-cog{
  font-size: 25px;
}

.ic{
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

boxSize{
  max-height: 200px;
  max-width: 100px;
}

.sbName{
  margin : 10px;
}

.no_checkbox > i.jstree-checkbox {
  display:none;
}

.home_box{
  margin-top: 20px;
  margin-left: 7px;
}

.home_text{
  max-width: 100px;
  padding: 5px;
  border: 5px solid olive;
  margin: 5px;
  background: peru;
  -webkit-text-fill-color: indigo;
}

#sb_box{
  margin-left: 0px;
  margin-top: 20px;
}

#addSwitch{
  margin-top : 10px;
  margin-right: 10px;
}

#empty{
  margin-top: 50px;
  margin-left: 50px;
}

#mainRight{
  margin-right: 20px;
}
 
#searchBox{
  margin-left: 10px;
}

