doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Bootstrap core CSS
    link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='starter-template.css', rel='stylesheet')
    script(src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous")
    script(src='/javascripts/jquery.js')
  
  body
    block content
