extends layout

block content
 
  h1= title
  
  form(action='/adduser' method='POST')
    | First Name:
    br
    input(type='text',name='first_name' required)
    br
    | Last name:
    br
    input(type='text',name='last_name' required)
    br
    br
    input(type='submit' value='submit')
  br
  br
  br