extends layout

block content
    h1= title
    br
    br
    form(action='/user_update' method='POST')
        label First Name:
        input(type='text',name='first_name')
        br
        br
        label Updated First Name:
        input(type='text',name='up_first_name')
        label Updated Last name:
        input(type='text',name='up_last_name')
        br
        br
        input(type='submit' value='update')