extends layout


block content
    .container-fluid
        .row
            .page-header.header_site
                .clearfix
                    .pull-left
                        a(href='/')
                            img(src='/images/product-home.png' style='height:30px')
                    .pull-left
                        h1 Home
    .container
        .row
            .pull-left
                ol.breadcrumb#navigator
                    li
                        a(href= '/mainScreen') Home
                    li 
                        a(href = '/defineHome') Configure Home
                    li 
                        a(href = '/defineSb') configure switch board
        .row    
            .col-md-5.col-sm-5
                .panel.panel-primary.boxSize
                    .panel-header
                    .panel-body
                        .tree
                            #sbtree
            .form(action = '/defineHome' method = 'POST' id = 'sbForm' role = 'form')
                .col-md-7.col-sm-7.col.xs-7
                    .panel.panel-primary.boxSize
                        .panel-body
                            form.form-horizontal(role='form' action='/defineHome' method='POST' id = 'sbForm')
                                .form-group
                                    .pull-right
                                        input(type='text' placeholder='switch board name' class='sbName' id='sbName' required)
                                        p#warning
                                    .pull-right
                                        p#sbName_text #{index} 
                                .form-group
                                    .sb_box#sb_box       
                                        h1#empty no appliances selected     
                                        input(type="hidden" name = 'retData' id= 'retData')  
                                .form-group
                                    .col-xs-4.col-xs-offset-8.col-sm-offset-8.col-sm-4.col-md-offset-8.col-md-6
                                        input(class='btn btn-primary' id = "sbDone" value = "Save" type = 'submit' onclick = 'submitform()' )

                                
                            