extends layout


block content
    .container-fluid
        .row
            .page-header.header_site
                .clearfix
                    .pull-left
                        a(href='/')
                            img(src='/images/product-home.png' style='height:30px')
                    .pull-left
                        h1 Home
    .container
        .row    
            .col-md-5.col-sm-5
                .panel.panel-primary.first
                    .panel-header
                    .panel-body
                        .tree
                            #sbtree
                            
            .col-md-7.col-sm-7
                .panel.panel-primary.first
                    .panel-header
                        .pull-right
                            input(type='text' placeholder='switch board name' class='add' id='sbName')
                            p#warning 
                    .panel-body
                        .sb_box#sb_box       
                                p#empty no appliances selected        
                .col-xs-4.col-xs-offset-6.col-sm-4.col-sm-6.col-md-4.col-md-6
                    a( class='btn btn-primary' id = "sbDone"  ) Done
