extends layout

block content
    .container-fluid
        .row
            .page-header.header_site
                .clearfix
                    .pull-left
                        a(href='/')
                            img(src='/images/product-home.png' style='height:30px')
                    .pull-left
                        h1 Home
    .container
        .row
            .pull-left
                ol.breadcrumb#navigator
                    li
                        a(href= '/mainScreen') Home
                    li 
                        a(href = '/defineHome') Configure Home
        .row    
            .col-md-5.col-sm-5
                .panel.panel-primary.boxSize
                    .panel-header
                    .panel-body
                        #hometree
            .col-md-7.col-sm-7.col-xs-7
                .panel.panel-primary.boxSize
                     .panel-body
                            form.form-horizontal(role='form' action='/mainScreen' method='get' id = 'homeForm')
                                .form-group
                                    .col-xs-4.col-xs-offset-8.col-sm-offset-7.col-sm-4.col-md-offset-9.col-md-6
                                        input(class='btn btn-primary' id = "configSb" value = "add switch board" type = 'submit' onclick = 'navigateform()' )
                                .form-group
                                    .navBox#navBox   
                                        ul.nav.nav-pills#ulList
                                            li.nav-item
                                                a.nav-link.active(href='#!') Active
                                            li.nav-item
                                                a.nav-link(href='#!') Link
                                            li.nav-item
                                                a.nav-link.disabled(href='#!') Disabled
  
                                        h1#empty No Rooms selected  
                                    
                                .form-group
                                    .col-xs-4.col-xs-offset-8.col-sm-offset-9.col-sm-4.col-md-offset-8.col-md-6
                                        input(class='btn btn-primary' id = "homeDone" value = "Save" type = 'submit' onclick = 'submitform()' )