extends layout

block content
    .container-fluid
        .row
            .page-header.header_site
                .clearfix
                    .pull-left
                        a(href='/')
                            img(src='/images/product-home.png' style='height:30px')
                    .pull-left
                        h1 Home
    .container
        .row    
            .col-md-5.col-sm-5
                .panel.panel-primary.first
                    .panel-header
                    .panel-body
                        #hometree
            .col-md-7.col-sm-7.col-xs-7
                .panel.panel-primary.first
                    .panel-header
                        .pull-right
                          a(href='/defineSB' class='add btn btn-primary') add Switch Board
                    .panel-body
                        .home_box#home_box
                            .home_demo
                                p no switchboards defined
                            
                       
