doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/default/style.min.css')
    
    link(rel='icon', href='favicon.ico' type='image/x-icon')

    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/jstree.min.js')
    script(src='/javascripts/tool.js')
    script(src='/javascripts/room-tabPillTemplate.js')
    script(src='/javascripts/room-tabContentTemplate.js')
  body

  block content

