extends layout

block content
  .container-fluid
    .row
      .page-header.header_site
        .clearfix
          .pull-left
            img(src='/images/product-home.png' style='height:30px')
          .pull-left
            h1 Home
  .container
  .row
    .col-md-4.col-md-offset-4.col-sm-8.col-sm-offset-2
      .panel.panel-primary
        .panel-heading
          h3.panel-title Register
        .panel-body
          form.form-horizontal(role='form')
            .form-group
              label.col-sm-3.control-label(for='inputfirstname') First Name
              .col-sm-9
                input#inputEmail3.form-control(type='text', placeholder='Enter First Name')
            .form-group
              label.col-sm-3.control-label(for='inputlastname') Last Name
              .col-sm-9
                input#inputPassword3.form-control(type='text', placeholder='Enter Last Name')
            .form-group
              label.col-sm-3.control-label(for='inputEmail3') Email
              .col-sm-9
                input#inputEmail3.form-control(type='email', placeholder='Email')
            .form-group
              label.col-sm-3.control-label(for='inputPassword3') Password
              .col-sm-9
                input#inputPassword3.form-control(type='password', placeholder='Password')
            .form-group.row
              .btn-group.btn-group-justified
                .col-sm-6.col-md-2.col-md-offset-6.col-sm-offset-6
                  a(href='/main' class='btn btn-primary') Register