extends layout

block content
  h1= title
  p Welcome to #{name}
  p To know more about express js click 
    a(href = "https://expressjs.com/" ) here.
    img(src="/Express-2.jpg",alt="logo")
  p the github repository is 
    a(href ="https://github.com/pvssvikas/js_practice/tree/jitendra" ) js-practice